// Colores
$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(0, 0, 0, 1);
$color-dark-bg: rgba(38, 50, 56, 1);
$color-dark-grey: rgba(55, 71, 79, 1);
$color-medium-grey-bg: rgba(84, 110, 122, 0.9058823585510254);
$color-light-grey-bg: rgba(96, 125, 139, 1);
$color-dark-button: rgba(30, 30, 30, 1);
$color-blue-button: rgba(85, 125, 144, 0.8999999761581421);

// Fuentes
$font-inter: 'Inter', sans-serif;
$font-istok-web: 'Istok Web', sans-serif;
$font-merriweather-sans: 'Merriweather Sans', sans-serif;

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.index_1 {
  .v1_3 {
    width: 100%;
    height: 1117px;
    background: $color-dark-bg;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v6_139 {
    width: 800px;
    height: 1026px;
    background: $color-light-grey-bg;
    opacity: 1;
    position: absolute;
    top: 46px;
    left: 464px;
    border-radius: 50px;
    overflow: hidden;
  }
  .v6_141 {
    width: 725px;
    height: 120px;
    background: $color-white;
    opacity: 1;
    position: absolute;
    top: 216px;
    left: 38px;
    border-radius: 25px;
    overflow: hidden;
  }
  .v6_149 {
    width: 333px;
    color: $color-black;
    position: absolute;
    top: 33px;
    left: 29px;
    font-family: $font-inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v6_147 {
    width: 725px;
    height: 120px;
    background: $color-white;
    opacity: 1;
    position: absolute;
    top: 389px;
    left: 38px;
    border-radius: 25px;
    overflow: hidden;
  }
  .v6_150 {
    width: 333px;
    color: $color-black;
    position: absolute;
    top: 34px;
    left: 18px;
    font-family: $font-inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v6_152 {
    width: 725px;
    height: 120px;
    background: $color-white;
    opacity: 1;
    position: absolute;
    top: 561px;
    left: 38px;
    border-radius: 25px;
    overflow: hidden;
  }
  .v6_153 {
    width: 333px;
    color: $color-black;
    position: absolute;
    top: 34px;
    left: 18px;
    font-family: $font-inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v6_125 {
    width: 339px;
    color: $color-white;
    position: absolute;
    top: 44px;
    left: 222px;
    font-family: $font-inter;
    font-weight: Regular;
    font-size: 70px;
    opacity: 1;
    text-align: left;
  }
  .v8_161 {
    width: 545px;
    height: 96px;
    background: $color-blue-button;
    opacity: 1;
    position: absolute;
    top: 966px;
    left: 600px;
    border-radius: 10px;
    overflow: hidden;
  }
  .v8_170 {
    width: 496px;
    color: $color-white;
    position: absolute;
    top: 990px;
    left: 624px;
    font-family: $font-merriweather-sans;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .v6_155 {
    width: 271px;
    height: 61px;
    background: $color-white;
    opacity: 1;
    position: absolute;
    top: 757px;
    left: 718px;
    border-radius: 10px;
    overflow: hidden;
  }
  .v6_156 {
    width: 53px;
    height: 53px;
    background: url("../images/v6_156.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 15px;
    overflow: hidden;
  }
  .v6_157 {
    width: 101px;
    color: $color-black;
    position: absolute;
    top: 8px;
    left: 117px;
    font-family: $font-istok-web;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
}

.index_2 {
  .v1_2 {
    width: 100%;
    height: 1117px;
    background: $color-dark-grey;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v25_102 {
    width: 828px;
    color: $color-white;
    position: absolute;
    top: 138px;
    left: 496px;
    font-family: $font-inter;
    font-weight: Regular;
    opacity: 1;
    text-align: left;
  }
  
  .name {
    color: $color-white;
  }
  
  .v25_155 {
    width: 287px;
    height: 189px;
    background: url("../images/v25_155.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 295px;
    left: 1434px;
    overflow: hidden;
  }
  .v25_182 {
    width: 261px;
    color: $color-white;
    position: absolute;
    top: 115px;
    left: 1438px;
    font-family: $font-inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v25_183 {
    width: 261px;
    color: $color-white;
    position: absolute;
    top: 572px;
    left: 1438px;
    font-family: $font-inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v25_188 {
    width: 279px;
    color: $color-white;
    position: absolute;
    top: 632px;
    left: 1424px;
    font-family: $font-inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
}

.index_3 {
  .v1_5 {
    width: 100%;
    height: 1117px;
    background: $color-medium-grey-bg;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1_10 {
    width: 458px;
    height: 167px;
    background: $color-dark-bg;
    opacity: 1;
    position: absolute;
    top: 96px;
    left: 628px;
    border-radius: 15px;
    overflow: hidden;
  }
  .v1_7 {
    width: 232px;
    color: $color-white;
    position: absolute;
    top: 60px;
    left: 112px;
    font-family: $font-istok-web;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: left;
  }
  .v1_8 {
    width: 350px;
    color: $color-white;
    position: absolute;
    top: 307px;
    left: 689px;
    font-family: $font-inter;
    font-weight: Regular;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .v1_1052 {
    width: 570px;
    height: 90px;
    background: $color-white;
    opacity: 1;
    position: absolute;
    top: 469px;
    left: 579px;
    border-radius: 10px;
    overflow: hidden;
  }
  .v1_1054 {
    width: 281px;
    color: url("../images/v1_1054.png"); // Nota: Esto es inusual, color no suele ser una URL
    position: absolute;
    top: 417px;
    left: 579px;
    font-family: $font-inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v1_1056 {
    width: 570px;
    height: 90px;
    background: $color-white;
    opacity: 1;
    position: absolute;
    top: 661px;
    left: 579px;
    border-radius: 10px;
    overflow: hidden;
  }
  .v1_1058 {
    width: 175px;
    color: $color-white;
    position: absolute;
    top: 598px;
    left: 579px;
    font-family: $font-inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v1_1066 {
    width: 319px;
    color: $color-white;
    position: absolute;
    top: 962px;
    left: 419px;
    font-family: $font-inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v1_1067 {
    width: 172px;
    color: $color-white;
    position: absolute;
    top: 962px;
    left: 1063px;
    font-family: $font-inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v1_1098 {
    width: 342px;
    height: 61px;
    background: $color-dark-button;
    opacity: 1;
    position: absolute;
    top: 771px;
    left: 693px;
    border-radius: 10px;
    overflow: hidden;
  }
  .v1_1099 {
    width: 231px;
    color: $color-white;
    position: absolute;
    top: 2px;
    left: 55px;
    font-family: $font-istok-web;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: left;
  }
  .v1_1113 {
    width: 271px;
    height: 61px;
    background: $color-white;
    opacity: 1;
    position: absolute;
    top: 852px;
    left: 728px;
    border-radius: 10px;
    overflow: hidden;
  }
  .v1_1118 {
    width: 53px;
    height: 53px;
    background: url("../images/v1_1118.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 15px;
    overflow: hidden;
  }
  .v1_1120 {
    width: 101px;
    color: $color-black;
    position: absolute;
    top: 8px;
    left: 117px;
    font-family: $font-istok-web;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
}